h1 {
    background-color: yellow;
    color: green;
}

h2 {
    background-color: rgb(230, 178, 106);
    color: indigo;
}

button {
    background-color: pink;
    color: red;
}

p {
    color: olive;
}
